In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('airline_results.csv', sep='\t', names=['airline', 'to_split'])
df[['dep_delay', 'arr_delay']] = df.to_split.str[1:-1].str.split(', ').apply(pd.Series)
df = df.drop(columns='to_split')
df

                         airline   dep_delay   arr_delay
0         American Airlines Inc.   8451818.0   8611910.0
1           Alaska Airlines Inc.   1134719.0   1284997.0
2                JetBlue Airways   3839241.0   3889470.0
3           Delta Air Lines Inc.   8385604.0   8046301.0
4    Atlantic Southeast Airlines   6938681.0   7504821.0
5         Frontier Airlines Inc.   1554161.0   1698364.0
6         Hawaiian Airlines Inc.    339340.0    464146.0
7   American Eagle Airlines Inc.   3764411.0   4089400.0
8               Spirit Air Lines   2183787.0   2313017.0
9          Skywest Airlines Inc.   6726185.0   7215186.0
10         United Air Lines Inc.   8364090.0   7301833.0
11               US Airways Inc.   1783141.0   2091729.0
12                Virgin America    708056.0    742936.0
13        Southwest Airlines Co.  15276796.0  13849257.0

In [3]:
import plotly.express as px

In [6]:
fig = px.bar(df, x='airline', y='dep_delay', color='airline', sort='dep_delay')
fig.show()

TypeError: bar() got an unexpected keyword argument 'sort'